@inherits LayoutComponentBase

<PageTitle>Dog-Books-FrontEnd</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/camhoops0001/Dog-Books-CSharp-Blazor" target="_blank">About Dog Books</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
