@page "/"
<link href="css/site.css" rel="stylesheet" />
<PageTitle>Index</PageTitle>
<div class="centered-content">
    <h1>Hello, and Welcome To Dog Books!</h1>
    <br />

    <button class="btn btn-primary"> 
      <NavLink class="text" href="select-dog-breed">
          When you're ready, continue to select your favorite dog breed!
      </NavLink>
    </button>
</div>
