@page "/saved-books"
@using System.Text.Json
@using Dog_Books_FrontEnd.Data
@using Newtonsoft.Json
@using RestSharp

@if(AreAnyBooksSaved =="yes")
    @foreach(DogAndBookResponse book in AllSavedBooks)
{
    <p class="centered-content">
        <b>
            @book.Author
        </b>
        <br>
        <b>
            @book.Title
        </b>
        <br>
        <img src="@book.DogPictureUrl"/>
        <br> <br> <br>
    </p>
}
@if(AreAnyBooksSaved == "no")
{
    <div class="centered-content">
        <div>
            Looks like you better go save a book! Navigate back to Select Dog Breed and get started!
        </div>
    </div>
}
@if(AreAnyBooksSaved == "awaiting")
{
        <div class="spinner-square">
            <div class="square-1 square"></div>
            <div class="square-2 square"></div>
            <div class="square-3 square"></div>
        </div>
}




@code {
    [Inject]
    private IConfiguration Configuration { get; set; }

    private string ApiKey;
    //This way it doesn't load in the "no books are saved" while the logic is still taking place
    //Just adds the loading spinner until conditional data is set
    private string AreAnyBooksSaved = "awaiting";

    public List<DogAndBookResponse> AllSavedBooks = new List<DogAndBookResponse>();

    protected override void OnInitialized()
    {
        ApiKey = Configuration.GetValue<string>("ApiKey");
    }

    protected override async Task OnInitializedAsync()
    {
        AllSavedBooks = await GetSavedBooks();
        if(AllSavedBooks.Count > 0)
        {
            AreAnyBooksSaved = "yes";
        }
        else
        {
            AreAnyBooksSaved = "no";
        }
        await InvokeAsync(StateHasChanged);
    }

    public async Task<List<DogAndBookResponse>> GetSavedBooks()
    {
        string url = Configuration.GetValue<string>("GetSavedBooks") + "?apiKey=" + ApiKey;
        RestClient client = new RestClient(url);
        RestRequest request = new RestRequest();
        client.AddDefaultHeader("Content-Type", "application/json");

        try
        {
            RestResponse response = await client.GetAsync(request);

            List<DogAndBookResponse> dogAndBookResponse = JsonConvert.DeserializeObject<List<DogAndBookResponse>>(response.Content);
            return dogAndBookResponse;
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }


}
